<!DOCTYPE html>
<html>
<head>
	<title>Mentoring-Program</title>
	<link rel="stylesheet" type="text/css" href="../static/index2.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<h1 id="heading">Mentoring Program</h1>
			<ul class="header_navigation">
				<li><a href="/about">ABOUT US</a></li>
				<li><a href="/first">HOME</a></li>
			</ul>
		</div>
		<div class="main">
			<table id="contact_table">
				<tr>
					<th colspan="3">Contact US</th>
				</tr>
				<tr>
					<td><img src="../static/images/profile.png"><p>Karan Dhama</p><p id="email">vkdhama9@gmail.com</p></td>
					<td><img src="../static/images/profile.png"><p>Aksh Patel</p><p id="email">akshkpatel@gmail.com</p></td>
					<td><img src="../static/images/profile.png"><p>Milan Gauswami</p><p id="email">gauswamimilan248@gmail.com</p></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>