<!DOCTYPE html>
<html>
<head>
	<title>Mentoring Program</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<script type="text/javascript">
		function validation(){
			var first_name = document.getElementById("first_name").value;
			var last_name = document.getElementById("last-name").value;
			var college_id = document.getElementById("college_id").value;
			var mobile_no = document.getElementById("mobile_no").value;
			var hostel_name = document.getElementById("hostel_name").value;
			var room_no = document.getElementById("room_no").value;
			var mobdigit=mobile_no.length;

			if(first_name.length==0){
				document.getElementById("msg1").innerHTML="Enter your first-name";
			}
			else{
				document.getElementById("msg1").innerHTML="";
			}
			if(last_name.length==0){
				document.getElementById("msg2").innerHTML="Enter your last-name";	
			}
			else{
				document.getElementById("msg2").innerHTML="";
			}
			if(college_id.length==0){
				document.getElementById("msg3").innerHTML="Enter College-ID";
			}
			else{
				document.getElementById("msg3").innerHTML="";
			}
			if(mobile_no.length==0 || mobdigit!=10){
				document.getElementById("msg4").innerHTML="Enter Valid Mobile-no.";
			}
			else{
				document.getElementById("msg4").innerHTML="";
			}
			if(hostel_name.length==0){
				document.getElementById("msg5").innerHTML="Enter Hostel-name";
			}
			else{
				document.getElementById("msg5").innerHTML="";
			}
			if(room_no.length==0){
				document.getElementById("msg6").innerHTML="Enter Room-no";
			}	
			else{
				document.getElementById("msg6").innerHTML="";
			}		
			return false;
		} // end of function..

		function upload(){
			var img_url=document.getElementById("upload_image").src;
			alert(img_url);
		}
	</script>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>Mentoring Program</h1>
			<ul class="header_navigation">
				<li><a href="#">About Us</a></li>
				<li><a href="#">Home</a></li>
			</ul>
		</div>

		<div class="form">
			<form accept="image/gif,image/jpeg" method="post">
			<table id="table_form">
				<tr>
					<th colspan="2" style="border-bottom:1px solid black">Form</th>
				</tr>
				<tr><td></td></tr>
				<tr>
					<td>First-name :</td>
					<td><span class="spnchoose_file" id="msg1"></span><br><input type="text" id="first_name" class="input_form"></td>
				</tr>
				<tr>
					<td>Last-name :</td>
					<td><span id="msg2" class="spnchoose_file"></span><br><input type="text" id="last-name" class="input_form"></td>
				</tr>
				<tr>
					<td>College-ID :</td>
					<td><span id="msg3" class="spnchoose_file"></span><br><input type="text" id="college_id" class="input_form"></td>
				</tr>
				<tr>
					<td>Mobile-no. :</td>
					<td><span id="msg4" class="spnchoose_file"></span><br><input type="text" id="mobile_no" class="input_form"></td>
				</tr>
				<tr>
					<td>Hostel-name :</td>
					<td><span id="msg5" class="spnchoose_file"></span><br><input type="text" id="hostel_name" class="input_form"></td>
				</tr>
				<tr>
					<td>Room-no. :</td>
					<td><span id="msg6" class="spnchoose_file"></span><br><input type="text" id="room_no" class="input_form"></td>
				</tr><tr><td></td></tr>
				<tr>
					<td>Photo :</td>
					<td><button id="image_upload"><img src="img/profile.png"></button></td>
				</tr>
			</table><br><br>
			<input type="submit" class="submit" value="Submit" onclick="return validation();">
		</form>
		</div>
		<div class="footer"></div>
	</div>
</body> 
</html>