<!DOCTYPE html>
<html>
<head>
	<title>Mentoring Program</title>
	<link rel="stylesheet" type="text/css" href="../static/index.css">
</head>
<body>
	<script src = "https://plus.google.com/js/client:platform.js" async defer></script>
    <script src="../static/js/google.js"></script>
    <script src="../static/js/facebook.js"></script>
	<div class="container">
		<div class="header">
			<h1>Mentoring Program</h1>
			<ul class="header_navigation">
				<li><a href="about.html">ABOUT US</a></li>
				<li><a href="#header">HOME</a></li>
			</ul>
		</div>
		<div class="body" id="header">
			<div class="right_panel">
				<button class="facebook_button" onclick="login()"><img src="../static/images/fb_logo.jpg" id="fb_logo"><span id="login_text">LOGIN WITH FACEBOOK</span></button>&nbsp;&nbsp;
			<button class="g-signin"
	          	data-scope="email"
	          	data-clientid="281021402326-d9ccvmfoed5t209lnteb7311p9dudks0.apps.googleusercontent.com"
	          	data-callback="onSignInCallback"
	          	data-theme="dark"
	          	data-cookiepolicy="single_host_origin">
      		</button>

				<h3>LOGIN</h3>
				<form action="/mylogin" method="post" id="myform">
	      			<input type="hidden" name="hid1" value="-1">
	      			<input type="hidden" name="hid2" value="-1">
	      			<input type="hidden" name="hid3" value="-1">
      			</form>
				<input type="text" id="email" placeholder="Email"><br>
				<input type="password" id="password" placeholder="Password"><br>
				<button class="login_button">LOG IN</button><br>
				<button class="new_user"><a href="form.html">new user ? </a></button>
			</div>
			<div class="left_panel">
				<img src="../static/images/clipart2.jpg" id="clipart">
			</div>
			<div class="bottom_panel">
				<h2>WHAT IS MENTORING ? </h2>
				<p>Mentorship is a relationship in which a more experienced or more knowledgeable person helps to guide a less experienced or less knowledgeable person. The mentor may be older or younger than the person being mentored, but she or he must have a certain area of expertise. </p>
				<p>Mentoring is a process for the informal transmission of knowledge, social capital, and the psychosocial support perceived by the recipient as relevant to work, career, or professional development; mentoring entails informal communication, usually face-to-face and during a sustained period of time, between a person who is perceived to have greater relevant knowledge, wisdom, or experience (the mentor) and a person who is perceived to have less.</p>
				<h2>WHAT THIS SITE ABOUT ?</h2>
				<p>This site is for mentoring program.Our main goal is that any student of colleges can choose his/her favourite subjects related to Computer-science and can get mentors to get proper guidance in their interesting subjects.</p>
				<p>Students can <a href="#header">Log-In</a> to website to get registered and then they can meet mentors.</p>
			</div>
			<div class="foot"></div>
		</div>
	</div>
</body>
</html>