<!DOCTYPE html>
<html>
<head>
	<title>Mentoring Program</title>
	<link rel="stylesheet" type="text/css" href="../static/index2.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<h1 id="heading">Mentoring Program</h1>
			<ul class="header_navigation">
				<li><a href="/about">ABOUT US</a></li>
				<li><a href="/first">HOME</a></li>
			</ul>
		</div>
		<div class="main">
			<table id="mentors_table">
				<tr>
					<th>Photo</th>
					<th>Name</th>
					<th>Email-ID</th>
					<th>Mobile-no.</th>
					<th>Hostel-name</th>
				</tr>
				<tr>
					<td><img src="../static/images/profile.png"></td>
					<td>Karan Dhama</td>
					<td>vkdhama9@gmail.com</td>
					<td>9426772815</td>
					<td>Bhabha-Bhavan</td>
				</tr>
				<tr>
					<td><img src="../static/images/profile.png"></td>
					<td>Karan Dhama</td>
					<td>vkdhama9@gmail.com</td>
					<td>9426772815</td>
					<td>Bhabha-Bhavan</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>