<!DOCTYPE html>
<head>
<head>
	<meta charset="utf-8">
	<title>Mentoring-Program</title>
	<link rel="stylesheet" type="text/css" href="../static/css/index1(updated).css">
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>Mentoring Program</h1>
			<ul class="header_navigation">
				<li><a href="about.html">ABOUT US</a></li>
				<li><a href="index.html">HOME</a></li>
			</ul>
		</div>
		<div class="main">
			<aside id="sidebar">
				<ul id="sidebar_ul">
					<li id="active"><img src="../static/images/subject.png" id="icons"><a href="#">INTERESTING SUBJECTS</a></li>
					<li><img src="../static/images/profile.png" id="icons"><a href="profile.html">PROFILE</a></li>
					<li><img src="../static/images/logout.png" id="icons"><a href="#" id="icons">LOGOUT</a></li>
				</ul>
			</aside>
			<div class="subject_images">
				
					<table id="subjects">
						<tr>
							<td><a href="mentors.html"><img src="../static/images/webdevelopment.jpg" id="img_subject"></a><br><br>Web Development</td>
							<td><a href="mentors.html"><img src="../static/images/machine_learning.jpg" id="img_subject"></a><br><br>Machine Learning</td>
							<td><a href="mentors.html"><img src="../static/images/cc.jpg" id="img_subject"></a><br><br>Competitive Coading</td>
						</tr>
						<tr>
							<td><a href="mentors.html"><img src="../static/images/android.jpg" id="img_subject"></a><br><br>Android Development</td>
							<td><a href="mentors.html"><img src="../static/images/datascience.jpg"id="img_subject" id="img_subject"></a><br><br>Data-Science</td>
							<td><a href="mentors.html"><img src="../static/images/ai.jpg" id="img_subject"></a><br><br>Artificial-Intelligency</td>
						</tr>
						
					</table>
			
				
			</div>		
		</div>
		<div class="footer">
		</div>
	</div>
</body>
</head>